@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-bg-color: #333;
  --nav-bg-color: #222;
  --nav-current-color: #111;
  --main-text-color: #f8f8f8;
  --main-link-color: #4ac754;
}

html {
  font-family: "Poppins", serif;
  color: var(--main-text-color);
}

a {
  color: var(--main-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--main-bg-color);
  width: 70%;
  margin: 0 15% 0 15%;
  h1 {
    padding: 20px 0 0 0;
  }
}

nav {
  background-color: var(--nav-bg-color);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    font-size: 1.5em;
    li {
      display: inline;
      a {
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
    }
  }
}

.current {
  color: green;
  background-color: var(--nav-current-color);
}

